<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrapper">
    <div class="flexbox">
      <div class="content">
        <div class="inbl w70">
            <h1>Lorem Ipsum</h1>
            <p>
              88 rue de la mairie, 12345 Lorem <br>
              Tel : +33 (0)1 02 03 04 05<br>
              E-mail : lorem@ipsum.com
            </p>
        </div><!-- @whitespace
    --><div class="inbl txtRight w30">
          <p class="color1 h1Like">FACTURE</p>
        </div>

        <p class="mt1">Objet : Fusce sapien neque</p>

        <div class="borderTopColor1 inbl mt1 pt1 w70">
          <p class="bold mb0">Adressée à :</p>
          <p>
            Lorem<br>
            2 rue de la cité, 12345 Lorem <br>
            SIREN : 123 456 789<br>
            N° de TVA Intra : FR01 123456789
          </p>
        </div><!-- @whitespace
      --><div class="borderTopColor1 inbl mt1 pt1 w30">
          <div class="row">
            <div class="col">
              <p class="bold txtRight">Facture n° :</p>
            </div>
            <div class="col txtRight">
              <p class="bold">XXXXXX</p>
            </div>
          </div>

          <div class="row">
            <div class="col txtRight">
              <p>Date :</p>
            </div>
            <div class="col txtRight">
              <p>01/01/1984</p>
            </div>
          </div>
        </div>

        <table class="mt2 w100">
          <thead>
            <tr>
              <th class="w20">Quantité</th>
              <th class="w30">Description</th>
              <th class="txtRight w25">Tarif unitaire</th>
              <th class="txtRight w25">Montant H.T.</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>Vestibulum orci sapien<br>
              justo id dignissim varius</td>
              <td class="txtRight">00,00 €</td>
              <td class="txtRight">00,00 €</td>
            </tr>

            <tr>
              <td>2</td>
              <td>Ut luctus eleifend justo</td>
              <td class="txtRight">00,00 €</td>
              <td class="txtRight">00,00 €</td>
            </tr>

            <tr>
              <td class="pt2 txtRight" colspan="3">Sous-total H.T.</td>
              <td class="pt2 txtRight">00,00 €</td>
            </tr>

            <tr>
              <td class="txtRight" colspan="3">TVA non applicable, art. 293 B du CGI</td>
              <td></td>
            </tr>

            <tr>
              <td class="big bold txtRight" colspan="3">Total H.T. à payer</td>
              <td class="big bold txtRight">00,00 €</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="borderTopColor2 pt1 terms">
        <div class="item">
          <p class="inbl mb0 small txtRight w40">Date limite de paiement :&nbsp;</p><!-- @whitespace
       --><p class="inbl mb0 small w60">30 jours à réception de facture</p>

          <p class="inbl small txtRight w40">Mode de paiement :&nbsp; </p><!-- @whitespace
       --><ul class="inbl pl0 small w60">
            <li>- si nécessaire, par chèque à l'ordre de Lorem Ipsum</li>
            <li>- de préférence, par virement sur le compte bancaire suivant :</li>
          </ul>

          <div class="borderRib">
            <div class="row">
              <p class="col small txtRight w40">Banque :&nbsp;</p>
              <p class="col small w60">
                Vestibulum orci sapien</p>
            </div>
            <div class="row">
              <p class="col small txtRight w40">IBAN :&nbsp;</p>
              <p class="col small w60">XX01 0001 0002 0003 0004 0005 006</p>
            </div>
            <div class="row">
              <p class="col small txtRight w40">BIC :&nbsp;</p>
              <p class="col small w60">XXXXXXXX</p>
            </div>
          </div>

          <p class="mt2 smaller">Aucun escompte pour règlement anticipé. <br>
          En application de la loi n°92-1442 du 31.12.1992, les factures sont payables à l'échéance indiquée. <br>
          Tout règlement effectué après expiration de ce délai donnera lieu, à titre de pénalité de retard, à l’application d’un intérêt égal à celui appliqué par la Banque Centrale Européenne à son opération de refinancement la plus récente, majoré de 10 points de pourcentage, ainsi qu'une indemnité forfaitaire de 40 € pour frais de recouvrement.</p>

          <p class="smaller">Dispensé d’immatriculation au Registre du Commerce et des Sociétés et au répertoire des métiers - SIREN : 001 002 003</p>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
